doctype html
html
  head
    title= title
    meta(name="description" content= description)
    block scripts
  body
    nav
      ul
        li
          a(href='/') Search
        li
          a(href='/about') About
        li
          a(href='https://github.com/patrickmichalina/omdb-browser') Source
    block content
